{
  "extends": [
    "airbnb/base"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "consistent-return": 0
  }
}